:root {
    --black: #000000;
    --primary: #8b597b;
    --soft: #efa3a0;
    --white: #ffffff;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: linear-gradient(135deg, white, #efa3a0);
    color: var(--black);
    padding-top: 80px;
}


/*Navigation Bar*/
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--white);
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
    z-index: 1000;
}

.nav-container {
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 0;
}

.logo {
    color: var(--primary);
}

.nav a {
    margin-left: 20px;
    text-decoration: none;
    color: var(--black);
    font-weight: 500;
    transition: 0.3s;
}

.nav a:hover {
    color: var(--primary);
}

/* Hompage */
.home {
    padding: 150px 0;
}

.home-content {
    width: 85%;
    margin: auto;
    display: flex;
    gap: 70px;
    align-items: center;
}

.image-box img {
    width: 280px;
    border-radius: 50%;
    border: 6px solid var(--primary);
}

.text-box h1 {
    font-size: 36px;
}

.text-box h2 {
    margin: 12px 0;
    color: var(--primary);
}

.social-icons {
    margin: 15px 0;
}

.social-icons a {
    margin-right: 15px;
    color: var(--primary);
    font-size: 18px;
    transition: 0.3s;
}

.social-icons a:hover {
    color: var(--soft);
}



/* About me */
.section {
    padding: 150px 15%;
}

.alt {
    background: var(--white);
    border-radius: 20px;
    margin: 40px auto;
    box-shadow: 0 8px 20px rgba(0,0,0,0.05);
}

.section-title {
    font-size: 30px;
    margin-bottom: 30px;
    color: var(--primary);
}


/* Education*/
.edu-card {
    background: var(--white);
    padding: 25px;
    border-radius: 16px;
    margin-bottom: 20px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.08);
}


/* My skills*/
.skills-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.skill-card {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 14px;
    overflow: hidden;
    cursor: pointer;
}

.skill-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.skill-card p {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: 0;
    padding: 8px 0;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    font-size: 14px;
    text-align: center;
}

.skill-card:hover {
    transform: translateY(-5px);
    transition: 0.3s ease;
}


/* projects*/
.projects-grid {
    display: flex;
    flex-wrap: wrap;           
    justify-content: center;   
    gap: 25px;                 
}

.project-card {
    background: var(--white);
    padding: 25px;
    border-radius: 16px;
    margin-bottom: 25px;
    border: 2px solid black;
    box-shadow: 0 8px 20px rgba(0,0,0,0.08);
    width: 300px;
}

.project-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 12px;
    margin-bottom: 15px;
    
}




/* contact */

.contact {
    padding: 80px 15%;
}

.contact .content {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.contact .row {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.contact .card {
    flex: 1;
    min-width: 250px;
    background: var(--white);
    padding: 25px;
    border-radius: 16px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.08);
    transition: 0.3s;
}

.contact .card:hover {
    transform: translateY(-5px);
}

.contact-icon {
    font-size: 22px;
    color: var(--primary);
    margin-bottom: 10px;
}

/* send message form*/

.contact-form {
    flex: 1;
    background: var(--white);
    padding: 35px;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.08);
}

.contact-form h3 {
    margin-bottom: 20px;
    color: var(--primary);
}

.input-box {
    margin-bottom: 18px;
}

.input-box input,
.input-box textarea {
    width: 100%;
    padding: 14px 16px;
    border-radius: 12px;
    border: 1px solid #c5bdbd;
    font-size: 14px;
    transition: 0.3s;
    background: #f8f7f7;
}

.input-box input:focus,
.input-box textarea:focus {
    border-color: var(--primary);
    background: white;
    box-shadow: 0 0 0 3px rgba(136, 85, 120, 0.15);
}

textarea {
    resize: none;
}

/* SEND BUTTON */

.send-btn {
    width: 100%;
    padding: 14px;
    border-radius: 30px;
    border: none;
    background: var(--primary);
    color: black;
    font-weight: 500;
    transition: 0.3s;
}

.send-btn:hover {
    background: var(--black);
    color:white;
}


/* footer part */
footer {
    text-align: center;
    padding: 25px;
    background: var(--white);
    color: var(--primary);
}


@media (max-width: 480px) {
    .home-content {
        flex-direction: column;
        gap: 30px;
        text-align: center;
    }

    .image-box img {
        width: 180px;
        margin: 0 auto;
    }
}